<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
{% endblock head%}

{% block stylesheets %}
    {% do assets.addCss('https://unpkg.com/picnic', 100) %}
    {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
    {% do assets.addCss('theme://css/theme.css', 98) %}
    {% do assets.addCss('theme://css/custom.css', 97) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
<nav>
  <a class="brand" href="{{ home_url }}">
    <img src="{{ url('theme://images/logo.png') }}" alt="{{site.title|e('html')}}" class="logo">
    <span>{{site.title|e('html')}}</span>
  </a>
  {% if theme.menu.mobile.enabled %}
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">{{theme.menu.mobile.text}}</label>
  {% endif %}
  <div class="menu">
    {% include 'layout/navigation.html.twig' %}
  </div>
</nav>
{% endblock %}

{% block body %}
    <main id="body" class="flex page">
        <section class="card page-header">
            {% if theme.breadcrumbs.enabled %}
            {% include "layout/partial/breadcrumbs.html.twig" %}
            {% endif %}

            <header>
                <h1>{{page.title}}</h1>
                <h3>{{header.subtitle}}</h3>
            </header>
            <footer>
                {{header.author|default(site.author.name)}} {{page.date|nicetime(true)}}
            </footer>
        </section>
        {% block content %}{% endblock %}
    </main>
{% endblock %}

{% block footer %}
    <footer class="full page-footer text-center">

        <div class="half">
            <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.</p>
        </div>
        <div class="off-half">
            <p><a href="https://github.com/makarygo/grav-basket-theme">Basket theme</a> was hand-crafted w/love by <a href="https://makary/online">Makary</a></p>
        </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
